body {
    background-color: #eeeeee;
}
video {
    width: 100vw;
}
.player{
    position: relative;
    padding: 0;
    background-color: #000000;
}
#controls {
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 16px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
#controls .control {
    margin: 5px;
    color: #ffffff;
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
}
.play-btn{
    width: 32px;
    height: 32px;
    background-image: url('./assets/play.svg');
}
.pause-btn{
    width: 32px;
    height: 32px;
    background-image: url('./assets/pause.svg');
}
.full-screen-btn {
    width: 32px;
    height: 32px;
    background-image: url('./assets/full-screen.svg');
}
#progress {
    flex: 1;
    background-color: #c1c1c1;
    display: flex;
    align-items: center;
    height: 3px;
    position: relative;
}

#progress_box {
    /*background-color: rebeccapurple;*/
    width: 100%;
    height: 100%;
    position: relative;
}

#play_progress {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(7.5px);
}

/*#play_progress:hover {*/
/*    background-color: #f54040;*/
/*    transition: all .5s;*/
/* }*/


.progress-indicator-wrapper {
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #ff0000;
}

.player:hover .progress-indicator-wrapper {
    height: 3px;
}

.indicator {
    width: 50px;
    height: 100%;
    background-color: #ffffff;
    position: relative;
}

.indicator:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(-1.5px);
}